{% extends 'layout.html' %}
{% load static %}
{% block titulo %}
Modalidad de dictado
{% endblock %}
{% block contenido %}


<script> 
    function borrar (nombre,url,id){
        opcion=confirm('¿Está seguro que desea eliminar ' +nombre+'?');
        if (opcion==true){
            window.location.href=url + id
        }
    }
</script>

<a href="{% url 'nuevaModalidaddedictado' id=0%}" class="btn btn-outline-primary">Agregar</a>
{% if messages%}
<ul>
    {% for message in messages%}
    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th hidden scope="col">ID</th>
            <th scope="col">Modalidad de dictado</th>
        </tr>
    </thead>
    {% for dictado in modalidaddedictado %}
    <tbody>
        <tr>
            <td hidden>{{dictado.id}}</td>
            <td>{{dictado.descripcion}}</td>
            <td>
                <a title="Editar esta modalidad de dictado" href="{% url 'nuevaModalidaddedictado' id=dictado.id %}"><i style="color: #000000;" class="fa-solid fa-pen-to-square"></i></a>
                <a title="Borrar esta modalidad de dictado" href="#" onclick="borrar('{{dictado.descripcion}}','/modalidaddedictado/eliminarModalidaddedictado/','{{dictado.id}}')"><i style="color: #000000;" class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
    </tbody>


{% endfor %}
</table>





{% endblock %}