{% extends 'layout.html' %}
{% load static %}
{% block titulo %}
Provincia 
{% endblock %}
{% block contenido %}

<script> 
    function borrar (nombre,url,id){
        opcion=confirm('¿Está seguro que desea eliminar ' +nombre+'?');
        if (opcion==true){
            window.location.href=url + id
        }
    }
</script>

<a href="{% url 'nuevaprovincia' id=0%}" class="btn btn-outline-primary">Agregar</a>
{% if messages%}
<ul>
    {% for message in messages%}
    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th hidden scope="col">ID</th>
        <th scope="col">Provincia</th>
    </tr>
</thead>
    {% for provincia in provincias %}
    <tbody>
    <tr>
        <td hidden>{{provincia.id}}</td>
        <td>{{provincia.nombre}}</td>
        <td>
            <a title="Editar esta provincia" href="{% url 'nuevaprovincia' id=provincia.id %}"><i style="color: #000000;" class="fa-solid fa-pen-to-square"></i></a>          
            <a title="Borrar esta provincia" href="#" onclick="borrar('{{provincia.nombre}}','/provincia/eliminarProvincia/','{{provincia.id}}')"><i style="color: #000000;" class="fa-solid fa-trash-can"></i></a>          
        </td>
    </tr>
    </tbody>


{% endfor %}
</table>





{% endblock %}