{% extends 'layout.html' %}
{% load static %}
{% block titulo %}
Tipo de carrera
{% endblock %}
{% block contenido %}

<script> 
    function borrar (nombre,url,id){
        opcion=confirm('¿Está seguro que desea eliminar ' +nombre+'?');
        if (opcion==true){
            window.location.href=url + id
        }
    }
</script>

<a href="{% url 'nuevoTipodeCarrera' id=0%}" class="btn btn-outline-primary">Agregar</a>
{% if messages%}
<ul>
    {% for message in messages%}
    <li {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}
    </li>
    {% endfor %}
</ul>
{% endif %}
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th hidden scope="col">ID</th>
            <th scope="col">Descripcion</th>
        </tr>
    </thead>
    {% for tipo in tipodecarrera %}
    <tbody>
        <tr>
            <td hidden>{{tipo.id}}</td>
            <td>{{tipo.descripcion}}</td>
            <td>
                <a title="Editar este tipo de carrera" href="{% url 'nuevoTipodeCarrera' id=tipo.id %}"><i style="color: #000000;" class="fa-solid fa-pen-to-square"></i></a>
                <a title="Borrar este tipo de carrera" href="#" onclick="borrar('{{tipo.descripcion}}','/tipodecarrera/eliminarTipodeCarrera/','{{tipo.id}}')"><i style="color: #000000;" class="fa-solid fa-trash-can"></i></a>
            </td>
        </tr>
    </tbody>


{% endfor %}
</table>





{% endblock %}